/* ==============================================
    Import common styles
============================================== */

@import "../bower_components/_normalize.scss/normalize";

/* ==============================================
    Import unique pages styles
============================================== */

@import "pages/index";
@import "pages/test-page";

.page-container {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

.page-container a {
    font-weight: bold;
    color: #fff;
}