.page-footer
  box-shadow(0 -2px 2px rgba(#000, .25))
  border-box()
  clear()
  padding 20px 0

  .copyrights
    float left
    white-space nowrap
    width 50%

  .developer
    float right
    white-space nowrap
    width 50%
    text-align right