/* ==============================================
    Clear fix
============================================== */

clear()
  zoom: 1

  &:before, &:after
    content " "
    display table

  &:after
    clear both

/* ==============================================
    Hide elements
============================================== */

hidden()
  display none

outside()
  position absolute
  left -9999px
  top -9999px

invisible()
  visibility hidden

/* ==============================================
    Wrap options
============================================== */

nowrap()
  white-space nowrap

/* ==============================================
    Links styles
============================================== */

js-link()
  text-decoration none

  span
    display inline
    border-bottom 1px dashed

  &:hover span
    border-color transparent

info-link()
  text-decoration none
  cursor help

  span
    display inline
    border-bottom 1px dotted

  &:hover span
    border-color transparent

iconed-link()
  text-decoration none

  span
    text-decoration underline

  &:hover
    text-decoration none
  
/* ==============================================
    Icons
============================================== */

[class*="icon-"]
  display inline-block
  line-height inherit
  vertical-align middle
  content ''