/* ==============================================
    Vars
============================================== */

$footer-height = 62px
$footer-margin = 20px

/* ==============================================
    Main layout. Sticky footer
============================================== */

html
  height 100%

body
  height auto !important
  height 100%
  min-height 100%
  position relative

.page-header
  clear()

main
  padding-bottom $footer-height + $footer-margin

.page-footer
  position absolute
  bottom 0
  height $footer-height
  width 100%

.container
  clear()
  box-sizing border-box
  width 100%
  max-width 1200px
  margin 0 auto
  padding 0 30px
  position relative

.page-container
  padding-top 84px


/* ==============================================
    Rows & cols
============================================== */

row()
  clear()

col()
  float left

  &:first-child
    margin-left 0