/* ==============================================
    Layout breakpoints
============================================== */

$small-phone = 320px
$phone = 480px
$tablet = 768px
$desktop = 992px
$wide = 1200px

/* ==============================================
    Color palette
============================================== */

$bg-color = #e9e9e9

$primary-color = #3299bb
$secondary-color = #f90

$dark-color = #424242
$light-color = #bcbcbc

$success-color = #86B8B1
$error-color = #FA2A00

/* ==============================================
    Paths
============================================== */

$images-path = '../images'
$images-sprite-path = '{$images-path}/sprite'
$images-inline-path = '{$images-path}/inline'

$fonts-path = '../fonts'